@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap");

.cardContent h1 {
  font-family: "Playpen Sans Deva", cursive;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#smooth-wrapper {
  overflow: hidden;
  height: 100%;
}

#smooth-content {
  will-change: transform;
}

.spacer,
.container {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stackedCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.card {
  width: 100%;
  height: 75vh;
  display: flex;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 10px 20px,
    rgba(0, 0, 0, 0.2) 0 6px 6px;
  background-color: #f2f2f2;
  margin-bottom: 75vh;
}

.cardContent,
.imgWrapper {
  width: 50%;
  height: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.cardContent p {
  width: 80%;
  margin-top: 15px;
}

.imgWrapper {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.imgWrapper,
.img {
  border-radius: inherit;
  will-change: clip-path;
}

@media (max-width: 1200px) {
  .stackedCards {
    width: clamp(85%, 4vw, 90%);
  }
}

@media (max-width: 580px) {
  .card {
    flex-direction: column-reverse;
  }

  .cardContent,
  .imgWrapper {
    width: 100%;
  }

  .cardContent {
    height: 50%;
  }

  .cardContent p {
    width: 90%;
    margin-top: 0;
  }

  .imgWrapper {
    height: 60%;
    border-radius: 10px 10px 0 0;
  }

  .imgWrapper,
  .img,
  .imgWrapper2,
  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    will-change: clip-path;
  }

  .cardContent {
    height: 20%;
  }

  .cardContent p {
    display: none;
  }

  .cardContent h1 {
    margin-top: 20px;
  }
}
